Send a message by typing the patient's username:
<form action = "/sendMessage2?name=<%= doctorName %>" method = "post">
<p>
Patient's UserName: <input name = "username">
<p>
Type Your Message: <input name = "content">
<p>
<input type = "submit" value = "submit">
</form>