<form action="/addNewMonitorPatient2?name=<%= doctorName %>" method="post">

Patient Username: <input name="username">
<p>
<input type="submit" value="Add Patient!">
<p>
<a href="/viewAllPatientsNotMonitor?name=<%= doctorName %>">View all patients you do not monitor</a>

</form>