<form action="/addPatientNote2?name=<%= doctorName %>&patientName=<%= patient%>" method="post">

Note: <input name="note">
<p>
<input type="submit" value="Add Note!">
<p>
<a href="/viewNote?name=<%= doctorName %>&patientName=<%= patient %>">View all notes you attached to this patient</a>
</form>