<form action="/addPill?name=<%= doctorName %>" method="post">

Medicine Name: <input name= "name">
<p>
Patient Name: <input name= "patientName">
<p>
Medicine Side Effect: <input name ="sideEffect">
<p>
Number of Pills Per Consumption: <input name = "count">
<p>
Time to Take Medicine: <input name = "timeToTake">
<p>
How Often to Consume Medicine per Day: <input name = "timePerDay">
<p>
Reason for Consumption: <input name = "reason">
<p>
<input type="submit" value="Create Medicine">

</form>