<form action="/removeFromAll2?name=<%= doctorName %>" method="post">

Patient Username: <input name="username">
<p>
<input type="submit" value="Totally delete patient (remove from existence).">
<p>
<a href="/viewAllPatients?name=<%= doctorName %>">View all patients</a>

</form>