Select a patient that you want to see past medications:
<p>
<% for(var i = 0; i < patients.length; i++) { %>
<a href="/showPatientPill2?name=<%= doctorName %>&patientName=<%= patients[i] %>"><%= patients[i] %></a>
<p>
<%}%>