<form action="/updatePillInfo2?name=<%= doctorName %>&patientName=<%= patient%>&pillName=<%= pillName%>" method="post">

Medicine Name: <%= pillName %>
<p>
Medicine Side Effect: <input name ="sideEffect">
<p>
Number of Pills Per Consumption: <input name = "count">
<p>
Time to Take Medicine: <input name = "timeToTake">
<p>
How Often to Consume Medicine per Day: <input name = "timePerDay">
<p>
Reason for Consumption: <input name = "reason">
<p>
Color of Medicine:
<p>
<input type="radio" name="color" value="red"> Red<br>
<input type="radio" name="color" value="orange"> Orange<br>
<input type="radio" name="color" value="yellow"> Yellow<br>
<input type="radio" name="color" value="green"> Green<br>
<input type="radio" name="color" value="blue"> Blue<br>
<input type="radio" name="color" value="indigo"> Indigo<br>
<input type="radio" name="color" value="violet"> Violet<br>
<input type="radio" name="color" value="brown"> Brown<br>
<input type="radio" name="color" value="white"> White<br>
<input type="radio" name="color" value="black"> Black<br>
<p>
Change to Past Pill:
<p>
<input type="radio" name="isPastPill" value="true"> Yes<br>
<input type="radio" name="isPastPill" value="false"> No<br>
<p>
<input type="submit" value="Update Medication Information!">
</form>
