Select a patient that you want to see current medications:
<p>
<% for(var i = 0; i < patients.length; i++) { %>
<a href="/viewEachPatient?name=<%= doctorName %>&patientName=<%= patients[i] %>"><%= patients[i] %></a>
<p>
<%}%>