Sending message by typing the patient's phone number or clicking on the patient:
<form action = "/sendMessage2?name=<%= doctorName %>" method = "post">
<p>
Type In Patient's Phone Number: <input name = "phoneNum">
<p>
Type In The Content You Want To Send: <input name = "content">
<p>
<input type = "submit" value = "submit">
<p>
<% for(var i = 0; i < patients.length; i++) { %>
<a href="/sendMessage2?name=<%= doctorName %>&patientName=<%= patients[i] %>"><%= patients[i] %></a>
<p>
<%}%>
</form>